In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [7]:
df=pd.read_csv('car_price_dataset.csv')
df

,Brand,Model,Year,Engine_Size,Fuel_Type,Transmission,Mileage,Doors,Owner_Count,Price
0,Kia,Rio,2020,4.2,Diesel,Manual,289944,3,5,8501
1,Chevrolet,Malibu,2012,2.0,Hybrid,Automatic,5356,2,3,12092
2,Mercedes,GLA,2020,4.2,Diesel,Automatic,231440,4,2,11171
3,Audi,Q5,2023,2.0,Electric,Manual,160971,2,1,11780
4,Volkswagen,Golf,2003,2.6,Hybrid,Semi-Automatic,286618,3,3,2867
...,...,...,...,...,...,...,...,...,...,...
9995,Kia,Optima,2004,3.7,Diesel,Semi-Automatic,5794,2,4,8884
9996,Chevrolet,Impala,2002,1.4,Electric,Automatic,168000,2,1,6240
9997,BMW,3 Series,2010,3.0,Petrol,Automatic,86664,5,1,9866
9998,Ford,Explorer,2002,1.4,Hybrid,Automatic,225772,4,1,4084
9999,Volkswagen,Tiguan,2001,2.1,Diesel,Manual,157882,3,3,3342

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Brand         10000 non-null  object
 1   Model         10000 non-null  object
 2   Year          10000 non-null  int64
 3   Engine_Size   10000 non-null  float64
 4   Fuel_Type     10000 non-null  object
 5   Transmission  10000 non-null  object
 6   Mileage       10000 non-null  int64
 7   Doors         10000 non-null  int64
 8   Owner_Count   10000 non-null  int64
 9   Price         10000 non-null  int64
dtypes: float64(1), int64(5), object(4)
memory usage: 781.4+ KB

In [9]:
df.isnull()

,Brand,Model,Year,Engine_Size,Fuel_Type,Transmission,Mileage,Doors,Owner_Count,Price
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
9995,False,False,False,False,False,False,False,False,False,False
9996,False,False,False,False,False,False,False,False,False,False
9997,False,False,False,False,False,False,False,False,False,False
9998,False,False,False,False,False,False,False,False,False,False
9999,False,False,False,False,False,False,False,False,False,False

In [10]:
df.isnull().sum()

Brand           0
Model           0
Year            0
Engine_Size     0
Fuel_Type       0
Transmission    0
Mileage         0
Doors           0
Owner_Count     0
Price           0
dtype: int64

In [11]:
df['Year'].value_counts()

2002    462
2011    449
2023    448
2012    437
2017    433
2010    431
2005    431
2007    430
2015    426
2018    425
2013    422
2019    421
2014    417
2006    415
2020    415
2001    406
2009    399
2022    397
2016    395
2004    394
2000    393
2021    391
2008    382
2003    381
Name: Year, dtype: int64

In [12]:
df['Doors'].value_counts()

3    2575
4    2514
5    2456
2    2455
Name: Doors, dtype: int64

In [13]:
df['Owner_Count'].value_counts()

5    2036
1    2036
2    2020
3    1977
4    1931
Name: Owner_Count, dtype: int64

In [15]:
brands_2009 = df[df['Year'] == 2009]['Brand'].unique()
print(brands_2009)

['Volkswagen' 'Audi' 'BMW' 'Chevrolet' 'Hyundai' 'Kia' 'Ford' 'Honda'
 'Mercedes' 'Toyota']

In [17]:
df[df["Owner_Count"]==5]["Brand"].value_counts()

Kia           218
Ford          215
Mercedes      210
Volkswagen    209
Chevrolet     204
Honda         202
Toyota        201
Audi          201
Hyundai       199
BMW           177
Name: Brand, dtype: int64

In [18]:
df[df["Owner_Count"]==1]["Brand"].value_counts()

BMW           240
Volkswagen    224
Ford          215
Audi          214
Honda         211
Chevrolet     205
Mercedes      188
Toyota        187
Hyundai       177
Kia           175
Name: Brand, dtype: int64

In [20]:
df[df["Year"] == 2002]["Owner_Count"].value_counts()

5    100
1     93
2     93
3     88
4     88
Name: Owner_Count, dtype: int64

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Brand         10000 non-null  object
 1   Model         10000 non-null  object
 2   Year          10000 non-null  int64
 3   Engine_Size   10000 non-null  float64
 4   Fuel_Type     10000 non-null  object
 5   Transmission  10000 non-null  object
 6   Mileage       10000 non-null  int64
 7   Doors         10000 non-null  int64
 8   Owner_Count   10000 non-null  int64
 9   Price         10000 non-null  int64
dtypes: float64(1), int64(5), object(4)
memory usage: 781.4+ KB